anyio==3.3.4
asgiref==3.4.1
click==8.0.3
colorama==0.4.4
fastapi==0.70.0
greenlet==1.1.2
h11==0.12.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
mssql==1.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.27
mysqlclient==2.0.3
protobuf==3.19.1
pydantic==1.8.2
pymssql==2.2.2
pyodbc==4.0.32
sniffio==1.2.0
SQLAlchemy==1.4.27
starlette==0.16.0
typing_extensions==4.0.0
uvicorn==0.15.0
